/notes.txt
/node_modules
/package-lock.json
/npm-debug.log
# unignore all in bower_..
public/bower_components/*
# but unignore thoes files
!public/bower_components/jquery/dist/jquery.min.js
!public/bower_components/bootstrap/dist/css/bootstrap.min.css
!public/bower_components/bootstrap/dist/js/bootstrap.min.js